body{
  background-color: aquamarine;
  font-family: 'Merriweather', serif;
  text-align: center;
}

button{
  cursor: pointer;
  border: none;
  background-color: blueviolet;
  color: white;
  width: 10%;
  height: 3rem;
  border-radius: 5px;
  font-size: 18px;
}

ul{
  list-style-type: none
}